wsdl/ReestablecerStockDB.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://ws.apache.org/axis2" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ws.apache.org/axis2">
    <wsdl:documentation>ReestablecerStockDB</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="unqualified" targetNamespace="http://ws.apache.org/axis2">
            <xs:element name="ReestablecerStockDBClassNotFoundException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ClassNotFoundException" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="main">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="args" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="mainRequest">
        <wsdl:part name="parameters" element="ns:main"/>
    </wsdl:message>
    <wsdl:message name="null"/>
    <wsdl:message name="ReestablecerStockDBClassNotFoundException">
        <wsdl:part name="parameters" element="ns:ReestablecerStockDBClassNotFoundException"/>
    </wsdl:message>
    <wsdl:portType name="ReestablecerStockDBPortType">
        <wsdl:operation name="main">
            <wsdl:input message="ns:mainRequest" wsaw:Action="urn:main"/>
            <wsdl:output message="ns:null" wsaw:Action="urn:mainResponse"/>
            <wsdl:fault message="ns:ReestablecerStockDBClassNotFoundException" name="ReestablecerStockDBClassNotFoundException" wsaw:Action="urn:mainReestablecerStockDBClassNotFoundException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ReestablecerStockDBSoap11Binding" type="ns:ReestablecerStockDBPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="main">
            <soap:operation soapAction="urn:main" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ReestablecerStockDBClassNotFoundException">
                <soap:fault use="literal" name="ReestablecerStockDBClassNotFoundException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ReestablecerStockDBSoap12Binding" type="ns:ReestablecerStockDBPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="main">
            <soap12:operation soapAction="urn:main" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ReestablecerStockDBClassNotFoundException">
                <soap12:fault use="literal" name="ReestablecerStockDBClassNotFoundException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ReestablecerStockDBHttpBinding" type="ns:ReestablecerStockDBPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="main">
            <http:operation location="main"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ReestablecerStockDB">
        <wsdl:port name="ReestablecerStockDBHttpSoap11Endpoint" binding="ns:ReestablecerStockDBSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/ReestablecerStockDB.ReestablecerStockDBHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ReestablecerStockDBHttpSoap12Endpoint" binding="ns:ReestablecerStockDBSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/ReestablecerStockDB.ReestablecerStockDBHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ReestablecerStockDBHttpEndpoint" binding="ns:ReestablecerStockDBHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/ReestablecerStockDB.ReestablecerStockDBHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
