wsdl/ReestablecerUsersDB-AAR.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://ws.apache.org/axis2" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://ws.apache.org/axis2">
    <wsdl:documentation>ReestablecerUsersDB</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.apache.org/axis2">
            <xs:element name="ReestablecerUsersDBClassNotFoundException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ClassNotFoundException" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="main">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="args" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="mainRequest">
        <wsdl:part name="parameters" element="ns:main"/>
    </wsdl:message>
    <wsdl:message name="ReestablecerUsersDBClassNotFoundException">
        <wsdl:part name="parameters" element="ns:ReestablecerUsersDBClassNotFoundException"/>
    </wsdl:message>
    <wsdl:portType name="ReestablecerUsersDBPortType">
        <wsdl:operation name="main">
            <wsdl:input message="ns:mainRequest" wsaw:Action="urn:main"/>
            <wsdl:output message="ns:null" wsaw:Action="urn:mainResponse"/>
            <wsdl:fault message="ns:ReestablecerUsersDBClassNotFoundException" name="ReestablecerUsersDBClassNotFoundException" wsaw:Action="urn:mainReestablecerUsersDBClassNotFoundException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ReestablecerUsersDBSoap11Binding" type="ns:ReestablecerUsersDBPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="main">
            <soap:operation soapAction="urn:main" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ReestablecerUsersDBClassNotFoundException">
                <soap:fault use="literal" name="ReestablecerUsersDBClassNotFoundException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ReestablecerUsersDBSoap12Binding" type="ns:ReestablecerUsersDBPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="main">
            <soap12:operation soapAction="urn:main" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ReestablecerUsersDBClassNotFoundException">
                <soap12:fault use="literal" name="ReestablecerUsersDBClassNotFoundException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ReestablecerUsersDBHttpBinding" type="ns:ReestablecerUsersDBPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="main">
            <http:operation location="main"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ReestablecerUsersDB">
        <wsdl:port name="ReestablecerUsersDBHttpSoap11Endpoint" binding="ns:ReestablecerUsersDBSoap11Binding">
            <soap:address location="http://25.127.63.104:8080/axis2/services/ReestablecerUsersDB.ReestablecerUsersDBHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ReestablecerUsersDBHttpSoap12Endpoint" binding="ns:ReestablecerUsersDBSoap12Binding">
            <soap12:address location="http://25.127.63.104:8080/axis2/services/ReestablecerUsersDB.ReestablecerUsersDBHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ReestablecerUsersDBHttpEndpoint" binding="ns:ReestablecerUsersDBHttpBinding">
            <http:address location="http://25.127.63.104:8080/axis2/services/ReestablecerUsersDB.ReestablecerUsersDBHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
